@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
font-family: "Lexend";
src: url("./src/assets/fonts/lexend/Lexend-Regular.ttf");
font-weight: normal;
}

@font-face {
font-family: "Lexend";
src: url("./src/assets/fonts/lexend/Lexend-SemiBold.ttf");
font-weight: bold;
}
