.forgot-password-page{
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 100%;

    }
    .logo-component{
        width: 10rem;
        height: auto;
    }

    .logo-component + div{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    
    @media (max-height:500px) {
        footer{
            margin-top: 3rem;
            position: relative;
            inset: auto;
        }
        .panel-component{
            margin-top: 5rem;
        }
    }
}