.main-layout{
    min-height: 100vh;

    &-navbar{
        display: flex;
        justify-content: space-between;
        padding: 1rem;

        @media (min-width:1023px) {
            padding: 0;
        }
        // border: solid 5px red;

        .logo-component{
            width: 12em;
            height: auto;
        }
    }

    .footer-component{
        margin-top: 3rem;
    }

    @media (min-width:1024px) {
        display: flex;
        align-items: stretch;

        &.logged{
            .main-layout-content{
                margin-top: 5em;
            }
        }

        &-navbar{
             & > .logo-component{
                display: none;
             }
             .rightmenu-component{
                position: absolute;
                top: 1rem;
                right: 1rem;
             }
        }
        &-content{            
            flex: 1;            
        }
    }

    // .logo-component{
    //     width: 15em;
    //     height: auto;
    // }
    // .starts-group{
    //     @media (min-width:500px) {
    //         flex-direction: row;
    //         flex-wrap: wrap;
    //         a{
    //             width: 47%;
    //             box-sizing: border-box;
    //         } 
    //     }
    //     @media (min-width:1375px) {
    //         flex-wrap: nowrap;
    //     }
    // }

    // &-panels{
    //     width: 100%;
    //     @media (min-width:1100px) {
    //         display: flex;
    //         gap:3rem;
    //     }
        
    // }
    // &-content{
    //     @media (min-width:1024px) {

    //     }
    // }
}
