.provider-page{
    .modal {
        &-panel{
            min-width: 20rem;

            form{
                width: 100%;
            }
        }
    }

    table {
        tr{
            td:last-child, th:last-child{
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}