@import "@/assets/scss/vars.scss";

@keyframes shineitems{
    0% {
        background-position: -100px
    }
    100%{
        background-position: 500px
    }
    
}

.skeleton{
    td, th{
        padding: .8rem 1rem;
    }
    &-table-item{
        height: 1rem;
        width: 100%;
        background-image: linear-gradient(90deg, $base100 0px, $base200 40px, $base100 80px);
        margin: .2rem;
        border-radius: .5rem;
        animation: shineitems 1.5s infinite linear
    }
    .btn{
        background-image: linear-gradient(90deg, $base200 0px, $base100 40px, $base200 80px);
        animation: shineitems 1.5s infinite linear;
        
    }
}



[data-theme='projectDark']{
    .skeleton{
        &-table-item, .btn{
            background-image: linear-gradient(90deg, $neutral 0px, $accent 40px, $neutral 80px);
        }
        
    }
}